langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-groq
langchain-astradb
langchain-openai
langchain-qdrant
sentence-transformers
streamlit
python-dotenv
pymupdf
